src/venv/*

!src/venv/main.py
!src/venv/PasswordGenerator.py
!src/venv/gui.py


docs/report/*
docs/documentation/*

!docs/report/report.tex
!docs/report/report.pdf
!docs/documentation/documentation.tex
!docs/documentation/documentation.pdf


src/__pycache__


*/*.DS_Store