src/venv/*

!src/venv/main.py
!src/venv/PasswordGenerator.py


docs/report/*

!docs/report/report.tex
!docs/report/report.pdf

docs/documentation/*

!docs/documentation/documentation.tex
!docs/documentation/documentation.pdf


*/*.DS_Store
